*.db
.vscode/settings.json

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Packages
*.nupkg
**/packages/*
!**/packages/build/

# Rider
.idea/
*.iml
*.ipr
*.iws

# Misc
*.log
*.cache
*.tmp
appsettings.Development.json